@import url("https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,800,900&display=swap");

* {
  font-family: "Heebo", sans-serif;
  margin: 0;
  padding: 0;
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

body {
  min-height: 100%;
  height: 100%;
}

#wrapper {
  padding-top: 10%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

section {
  /* border: black solid 1px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 2.5vw;
}

section h2 {
  font-size: 2.2em;
  font-weight: 300;
  color: #333333;
}

section h1 {
  font-size: 3.7em;
  font-weight: 500;
  line-height: 1.1em;
  color: #1B1B1B;
}

section p {
  padding-top: 10px;
  font-weight: 300;
  color: #333333;
}

figure {
  margin-top: 2em;
}

figure img {
  /* border: black solid 1px; */
  display: block;
  max-width: 100%;
  height: auto;
  width: 24em;
}

footer {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

footer img {
  margin: 0 8px;
  width: 30px;
  vertical-align: bottom;
}

@media only screen and (min-width: 1000px) and (max-width: 1245px) {
  section h2 {
    font-size: 2.8vw;
  }
  
  section h1 {
    font-size: 4.8vw;
  }
  
  section p {
    font-size: 1.25vw;
  }
  
  figure img {
    width: 32vw;
  }
}